*{
    margin:0px;
    padding: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    height: 40px;
    border-bottom: 2px solid;
    justify-content: space-between;
    padding: 10px 40px;
    align-items: center;
    position: relative;
    z-index: 9999;
    background: white;
}

nav{
    display: flex;
    padding: 0px 40px;
    justify-content: space-between;
    position: sticky;
    z-index: 9999;
    background: white;
}

.leftnav h1{
    color:rgb(36, 36, 36) ;
}

.rightnav ul li button{
    background-color: rgb(61, 59, 59);
    padding: 10px 12px;
    color: white;
    border-radius: 20px;
    border: 0px;
}

.rightnav ul li button:hover{
    background-color: black;
}
.rightnav ul{
    display: flex;
    align-items: center;
    gap: 5px;
    list-style: none;
    column-gap: 20px;
}
.rightnav ul li a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

/*     main part          */
main{
    width: 100vw;
    height: 80vh;
    display: flex;
    
}
.leftmain{
    width: 60%;
    height: 100%;
    justify-content: center;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
}
.leftmain h1{
    font-size: 6rem;
    line-height: 85px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: -3px;
    font-weight: 400;

}
.rightmain{
    width: 40%;
    height: 100%;
}
.leftmain p{
    margin-top: 50px;
    font-size: 20px;
}
.leftmain button{
    padding: 12px 30px;
    border-radius: 25px;
    color: white;
    background-color: black;
    width: 250px;
    margin-top: 50px;
    font-size: 20px;
    border: none;
}
footer{
    border-top: 2px solid black;
    position: relative;
    z-index: 10;
    background: white;
    height: 45px;
}
.foot ul{
    display: flex;
    gap:15px;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.foot ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.foot ul li {
    align-items: center;
    justify-content: center;
}
/* calc can be compared 2 diff unit */
.rightmain img{
    width:100%;
    height: 637px;
    object-fit: contain;
    right: -475px;
    top:20px;
    position: absolute;
    z-index: 1;
}